body {
  background-image: url("./images/cocktail.jpg");
  background-size: cover;
}

.form {
  margin-top:25%;
  margin-right:25%;
  margin-left:25%;
  margin-bottom:5%;
  display:flex;
  justify-content: space-around;
}

.answer {
  background-color: rgb(255, 255, 255,.5);
  color:blue;
  font-size: 30px;
  text-align:center;
}
